.Button {
  border-radius: 2px;
  outline: none;
  box-shadow: none;
  background-color: red;
  border: none;
  color: white;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.Button:active {
  padding:  0px 5px;   
  margin: 0;
  opacity: 1;
  transition: 0s;
}
